


<div class="row .row-cols-3 row-cols-md-2 g-4">
        {{!-- "col-md- mb-5" --}}
    {{#each paintings}}

        <div class="col">
           <div class="card">
                <img class="card-img-top" src="{{imageUrl}}" alt="{{title}}">
                <div class="card-body">
                    {{#each this.author}}
                    <h4>By {{this.username}}</h4>
                    {{/each}}
                    <h5 class="card-title">{{title}}</h5>
                    <a class="card-link" href="/paintings/{{_id}}">Details</a>
                    </form>
                </div>
            </div>
        </div>


    {{else}}
        <p>No paintings yet</p>
    {{/each}}

</div>
