<style>
  .card{
  background-position: center;
  background-size: cover;
  background-image: url("/images/background/b7a.png");
  }
</style>
{{!-- <h1>Artists</h1> --}}
<div class="row">
  {{#each users}}
    <div class="column">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{username}}</h5>
          {{!-- <p class="card-text">{{description}}</p> --}}
          <a class="card-link" href="/users/{{this._id}}/paintings">Paintings</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no artists yet!</p>
  {{/each}}
  <hr />
</div>