
        <h2>{{User.username}}</h2>

        <img src="{{painting.imageUrl}}" alt="{{painting.title}}">
            <div class="card-body">
                <p> Year: {{painting.year}}</p>
                <p>Size (w/h): {{painting.size}}</p>
                <p>Description: {{painting.description}}</p>
                {{!-- <p>Starting bid: {{painting.starting_bid}}</p> --}}
                <a href="/paintings/{{painting._id}}/edit">Edit</a>
                <form action="/paintings/{{painting._id}}/delete" method="POST">
                <button id="delete-painting-btn">Delete</button>
                </form>

                {{!-- {{#unless userInSession}}
                <form action="/login" method="POST">
                <button id="login-and-bid-btn">Log in and bid</button>
                </form>
                {{else}}
                <a href="/paintings">Put in a bid</a>
                {{/unless}} --}}


            </div>
        </div>
    </div> 
<a href="/paintings">Back</a>