{{#if userInSession}}
     <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page, my friend!</p>
  <div id="userPannel">
  <img id="userAvatar" src="{{userInSession.imageUrl}}" alt="{{userInSession.userName}}"/>
<div id="userFunctions">
     <a href="/users/{{userInSession._id}}/edit" class="btnUserFunction">Edit your profile</a>
     <form action="/users/{{userInSession._id}}/delete" method="POST">
       <button id="deleteProfile">Delete your profile</button>
     </form>
  {{#unless userInSession.isAdmirer}}
   
     <a href="/paintings/create" class="btnUserFunction">Add painting</a>
   
  {{/unless}}
</div>
  </div>
<h2>Your paintings</h3>
 {{#each paintings}}
    <div class="col-md-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img id="paintingImg" src="{{req.session.currentUser._id.paintings}}" alt="{{title}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{year}}</p>
            </div>
        </div>
    </div>
{{else}}
    <p>No paintings yet</p>
{{/each}}

{{else}}
  <br><p>Still no logged in user, sorry!</p>
{{/if}}