<style>
body {
/* background-position: center;
  background-size: cover;
  font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
  /* font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; */
  /* margin: 0 20px;
    background-image: url("/images/background/b8.png");
  /* background-color:antiquewhite; */
  
}
</style>
<div class="col-md-4 mb-5">
    <div  style="width: 18rem;">
    

        <div class="painting-details">
            <div>
            <img class="img-painting-details" src="{{painting.imageUrl}}" alt="{{painting.title}}">
            </div>
            <div id="paintingInfo">
              <h3 id = "paintingTitle">{{painting.title}}</h3>
                {{#each painting.author}}
                <h4>By: {{this.username}}</h4>
                {{/each}}
                <p style="font-size: 15px">Year: {{painting.year}}</p>
                <p style="font-size: 15px">Size (w/h): {{painting.size}}</p>
                <p style="font-size: 15px">Description: {{painting.description}}</p>
                {{!-- <p>Starting bid: {{painting.starting_bid}}</p> --}}

                {{#if isAuthor}}
                <a id="editPaintingLink" href="/paintings/{{painting._id}}/edit">Edit</a>
                <form action="/paintings/{{painting._id}}/delete" method="POST">
                <button id="delete-painting-btn">Delete</button>
                </form>
                {{/if}}

                {{!-- {{#unless userInSession}}
                <form action="/login" method="POST">
                <button id="login-and-bid-btn">Log in and bid</button>
                </form>
                {{else}}
                <a href="/paintings">Put in a bid</a>
                {{/unless}} --}}
            </div>
        </div>
    </div>
</div> 

