<h2>Paintings</h2>
 
 {{#each paintings}}
    <div class="col-md-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="{{imageUrl}}" alt="{{title}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{year}}</p>
                <a href="/paintings/{{_id}}">Details</a>
                <hr>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <p>No paintings yet</p>
{{/each}}

<a href="/">Back</a>